{% extends "shop/base.html" %}
{% block content %}
    {% load static %}
    <section id="catalog">
        <h2>Our Catalog</h2>
        <div id="product-list"></div>
    </section>
     <div id="product-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="slider">
                <img id="prev-btn" class="icon" src = "{% static 'images/nazad.png' %}" alt = "Previus"></img> <!-- Иконка влево -->
                <img id="modal-img" src="" alt="Product Image">
                <img id="next-btn" class="icon" src = "{% static 'images/vpered.png' %}" alt = "Next"></img> <!-- Иконка вправо -->
            </div>
            <h3 id="modal-title"></h3>
            <p id="modal-price"></p>
            <button id="add-to-cart-btn">Add to Cart</button>
        </div>
    </div>
{% endblock %}